* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body.home .news-items {
    background: #00ff33;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 15;
    letter-spacing: -.40em;
}

element.style {
    width: 100000px;
    transform: translateX(1920px);
    animation: 22.5375s linear 1s infinite normal none running marqueeAnimation-8103733;
}
div{
    display: block;
}